body {
  /*background-image: url('../images/background.gif');*/
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}
.hidden {
  display: none !important;
}
sup {
  top: -1.5em;
  font-size: 40%;
}
.header .title {
  text-align: center;
  background: dimgrey;
  color: white;
  padding: 5px;
}
.score-board {
  font-size: 20px;
}
.score-board span {
  padding: 5px;
}
.win {
  color: green;
}
.lose {
  color: red;
}
.draw {
  color: grey;
}
.player-title {
  margin-top: 12px;
}
.message-area .greeting,
.message-area .name-form {
  margin: 20px;
  text-align: center;
}
.name-form {
  text-align: center;
  margin: 20px;
  justify-content: center;
  text-align: center;
  display: flex;
}

.game-area {
  justify-content: center;
}

.game-area .box {
  border: 1px solid black;
  margin: 10px;
  height: 150px;
  width: 100%;
}

.game-area .p1-box {
  border: 3px dotted green;
}
.game-area .system-box {
  font-size: 12px;
}
.game-area .p2-box {
  border: 3px dotted red;
}
.game-area .system-box .message {
  margin-top: 20px;
}
.control {
  text-align: center;
  font-size: 60px;
  margin: 40px;
  min-height: 100px;
}
.control .fa {
  margin: 20px 10px;
  cursor: pointer;
}
.rage-title {
  font-size: 20px;
}
.rage-btn, .clear-btn {
  float: right;
  font-size: 12px;
  padding: .2rem .5rem;
}
.clear-btn {
  margin-left: 5px;
}
.chat-control {
  margin: 5px 0;
}
.chat-input {
  width: 100%;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .chat-input {
    width: 90%;
  }
}
.chat-submit {
  font-size: 12px;
  padding: .4rem .5rem; 
  float: none;
}
@media (min-width: 768px) {
  .chat-submit {
    float: right;
  }
}
.control .fa:hover{
  color: gold;
  font-weight: bold;
}
.control .fa.disabled {
  color: silver;
}
.control .fa.disabled:hover {
  color: silver;
  font-weight: normal;  
  cursor: default;
}
.control .fa.picked.disabled:hover {
  color: gold;
  font-weight: bold;
}
.control .fa.picked {
  color: gold;
  font-weight: bold;
}
.start-btn {
  padding: .4rem .5rem;
  margin-left: 10px;
}
.chat-box {
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.5);
}

.chat-area {
  justify-content: center;
}
.chat span {
  font-size: 10px;
  margin-right: 5px;
}

.chat-area .chat-box {
  border: 1px solid black;
  height: 200px;
  overflow: scroll;
  width: 100%;
}